@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ::::== LANDING PAGE ==:::: */

main {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 4, 17);
  color: rgb(204, 206, 207);
  display: grid;
  grid-template-columns: 2fr 2fr 0.5fr;
  grid-column-gap: 60px;
}

aside {
  /* width: 45%; */
}

.description {
  /* width: 45%; */
  margin: auto;
  text-align: left;
}
.description h2 {
  font-size: 3rem;
  text-transform: uppercase;
}

.description button {
  border: 2px solid blue;
  padding: 1rem;
  width: 150px;
  background-color: transparent;
  color: aliceblue;
  display: flex;
  align-items: center;
  gap: 20px;
  height: fit-content;
  border-radius: 50px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
.description button:hover{
background-color: blue;
transition: 1s
}


.icon {
  background-color: blue;
  padding: 17px;
  border-radius: 50px;
  position: absolute;
  top: 0;
  right: 0;
  margin: auto;
}
.navigation {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  margin: auto;

}

ul > li{
  list-style: none;
  
}
